@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0%;
    font-family: "Roboto";
    padding: 0%;
    box-sizing: border-box;
}

:root{ 
    --color-fondo: rgb(234, 242, 239);/*menta crema - mint cream*/
    --color-letra-titulo: rgb(255,255,255);
    --color-cabezera: rgba(34, 60, 139, 0.952);
    --color-botones2: rgba(45, 30, 82, 0.589);
    --color-footer: rgba(172, 20, 25, 0.856);
    --color-hovermarcas: rgba(3, 3, 3, 0.781);
    --color-barradenav: rgba(0, 0, 0, 0.808);
}

header {
    background-color: var(--color-cabezera);
    color: var(--color-letra-titulo);
}

.logo2{
    transform: scaleX(-1);
}


.barra{
    margin: 0px;
    border: 5px solid var(--color-barradenav);
    background-color: var(--color-barradenav);
    color: blanchedalmond;
    display: flex;
    justify-content: center;
}



ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

li {
    padding: 10px;
}

li:hover{
    background-color: var(--color-botones2);
}

a {
    text-decoration: none;
    color:inherit;
}

.titulo {
    margin: 0px;
    text-align: center;
    padding: 30px;
    font-size: 50px;
}







.contacto{
    padding-top: 10%;
    padding-bottom: 5%;
    width: 100%;
    background-image: url('https://images.ctfassets.net/x7j9qwvpvr5s/2ARiTlPlNm2sukEuMGkaOA/3a238cee1bfdfa60aff9c16a9620efb4/Panigale-V4-MY18-Red-17-Slider-Gallery-1920x1080.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.contacto h1 {
    text-align: center;
    font-size: 3em;
    padding: 5% 0% 0% 0%;
    color: white;
}
.contacto .contenedor-form{
    position: relative;
    margin: 0% auto;
    width: 50%;
    height: 63vw;
    background-color: rgba(0, 0, 0, 0.38);
    border-radius: 50px;
}
.contacto .contenedor-form i {
    position: absolute;
    top: -7.8%;
    width: 100px;
    height: 100px;
    color: rgba(255, 255, 255, 0.55);
    font-size: 6em;
    right: 43%;
}
.contacto .contenedor-form input {
    display: block;
    width: 65%;
    height: 2.6vw;
    margin: 5% auto;
    border-radius: 50px;
    font-size: 1.5em;
    background-color: rgba(150, 141, 141, 0.199);
    border: none;
    color: white;
text-indent: 10px;
}
.contacto .contenedor-form .horariotext {
    display: inline-block;
    width: 35%;
    font-size: 1.5em;
    margin-left: 17.5%;
    text-align: left;
    color: white;
    font-weight: bold;
}
.contacto .contenedor-form .horario {
    display: inline-block;
    width: 30%;
    height: 2.6vw;
    margin: 5% auto;
    border-radius: 50px;
    text-align: center;
}
.contacto .contenedor-form textarea {
    width: 65%;
    margin: 5% auto;
    display: block;
    border-radius: 16px;
    font-size: 1.5em;
    background-color: rgba(150, 141, 141, 0.411);
    border: none;
    height: 10vw;
    color: white;
    text-indent: 10px;
}
.contacto .contenedor-form .button-container {
    width: 100%;
    align-content: center;
    display: flex;
    justify-content: center;
}
.contacto .contenedor-form #reset{
        width: 20%;
        margin: 0% 10%;
        font-size: 1.4em;
        border: none;
        border-radius: 20px;
        text-align: center;
        height: 3vw;
        color: white;
        background-color: rgba(255, 0, 0, 0.795);
}
.contacto .contenedor-form #submit{
    width: 20%;
    margin: 0% 10%;
    font-size: 1.4em;
    border: none;
    border-radius: 20px;
    text-align: center;
    height: 3vw;
    color: white;
    background-color: rgba(91, 182, 31, 0.795);
}